
    body {
      font-family: 'Poppins', sans-serif;
      scroll-behavior: smooth;
      background-image: url('gambar/unsulbar.jpg'); 
      background-size: cover;       
      background-position: center;  
      background-attachment: fixed; 
      background-repeat: no-repeat; 
      color: white; 
    }

    /* Navbar */
    .navbar {
      transition: all 0.3s ease;
      box-shadow: 0 2px 5px rgb(255, 255, 255);
    }
     .hero {
      background-image: url('gambar/unsulbar.jpg'); 
      background-size: cover;
      background-position: center; 
      background-repeat: no-repeat;  
      color: whitesmoke;                  
      text-align: center;
      padding: 150px 20px;
      position: relative;
    }
    .hero h1 {
      font-size: 3rem;
      font-weight: 700;
    }
    .hero p {
      font-size: 1.2rem;
      opacity: 0.9;
    }

    /* About */
    #about {
      padding: 80px 0;
      background: #ffff;
    }
    #about h2 {
        color: #000;     
    }
    #about li {
        color: #000;
    }
    #about img {
      border-radius: 15px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }

    /* Gallery */
    .gallery img {
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      border-radius: 10px;
    }
    .gallery img:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    }

    /* Contact Buttons */
    .contact-btn {
      transition: 0.3s;
      border-radius: 30px;
      font-size: 1.1rem;
      padding: 12px 30px;
    }
    .contact-btn:hover {
      transform: translateY(-3px);
    }
    #contact h2 {
        color: #000;
    }
    #contact p {
        color: #000;
    }

    /* Footer */
    footer {
      background-color: #ffffff;
      color: black;
      text-align: center;
      padding: 25px 0;
      margin-top: 80px;
    }

    /* Album */
    section h2 {
        font-weight: 600;
    }

    

    

  


  
  